.h1 {
  padding-top: 20px;
  text-align: center;
  color: var(--color-black);
}

.h2 {
  padding-top: 20px;
  color: var(--color-black);
}

.h3 {
  padding-top: 20px;
  color: var(--color-black);
}

.ul, .ol {
  text-align: justify;
  margin-left: 40px;
  margin-top: 12px;
  color: var(--color-black);
}

.p {
  text-align: justify;
  margin-top: 16px;
  color: var(--color-black);
}