:root {
  --color-black: #0c1421;
  --color-dark-blue: #7286D3;
  --color-light-blue: #8EA7E9;
  --color-light-purple: #E5E0FF;
  --color-light-pink:#FFF2F2;
  --color-dark-grey-blue: #212229;
  /* --color-dark-blue: #2f5278; */
  --color-dark-blue: #3052A0;

  --my: #3052A0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  overflow-y: scroll;
}

body {
  max-width: 680px;
  margin: 0 auto;
  background-color: var(--color-dark-blue);
  overflow-y: overlay;
  padding: 0 15px;
}

.main {
  background: white;
  min-height: 100vh;
  padding: 24px;
}
