.cover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.header {
  padding: 20px;
  display: flex;
  flex-direction: row;
}

.social-media-links svg + svg {
  margin-left: 8px;
}

.article-links {
  font-size: 18px;
}

.article-links > a {
  color: var(--color-black);
  text-decoration: none;
}

.text {
  color: var(--color-black);
  text-align: center;
}

.image-wrapper > img {
  border-radius: 8px;
}
